html {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins;
  font-weight: 400;
}

main {
  padding-top: 50px;
}

header {
  margin-bottom: 50px;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 70px;
  padding-right: 70px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  flex-shrink: 0;
}

.c-name {
  font-weight: 500;
  font-size: 20px;
  flex: 0;
  cursor: pointer;
}

.c-name:hover {
  opacity: 0.3;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex: 1;
  margin-left: 60px;
}

.link-items {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.link-items:hover {
  color: grey;
}

.nav-icons {
  display: inline-flex;
  gap: 40px;
}

.icons {
  cursor: pointer;
}

.icons:hover {
  opacity: 0.2;
}

.line {
  height: 30px;
  width: 2px;
  background-color: black;
  margin-top: 7px;
}

.home {
  width: auto;
  height: 500px;
  background-color: rgb(193, 219, 219);
  margin-left: 70px;
  margin-right: 70px;
  position: relative;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}

.home-col-1 {
  flex: 1;
  padding-left: 30px;
}

.home-col-2 {
  flex: 1;
  padding-right: 30px;
}

h1 {
  font-weight: 800 bold;
  font-size: 50px;
  text-wrap: wrap;
  margin-bottom: 15px;
}

.info {
  display: flex;
  flex-direction: column;
}

.info-1 {
  font-size: 25px;
}

.home-col-row-2 {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  gap: 45px;
}

.line-2 {
  height: 90px;
  width: 2px;
  background-color: black;
}

.search {
  margin-top: 25px;
  width: 65%;
  border-style: solid;
  border-color: lightgrey;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}

.home-col-1 input::placeholder {
  font-size: 15px;
}

.search-bar {
  position: relative;
  margin-top: 25px;
}

.bx-search {
  position: absolute;
  background-color: rgb(193, 219, 219);
  top: 32px;
  right: 167px;
  height: 30px;
  align-items: center;
  border-radius: 8px;
  padding-bottom: 6px;
  cursor: pointer;
}

.search-icon {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
}

.search-icon:hover {
  opacity: 0.3;
}

.curly-arrow-1 {
  position: absolute;
  width: 12%;
  margin-left: 37%;
  bottom: 115px;
}

.curly-arrow-2 {
  position: absolute;
  width: 9%;
  top: 8px;
  margin-left: 85%;
}

.object-circle {
  height: 350px;
  width: 400px;
  position: relative;
  border-top-right-radius: 170px;
  border-top-left-radius: 170px;
  border-bottom-left-radius: 170px;
  top: 30%;
  background-color: black;
}

.flower-pot {
  position: absolute;
  top: -41%;
  margin-left: 40px;
}

.showCase {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: space-between;
  flex-shrink: 0;
  margin-top: 70px;
  margin-left: 70px;
  margin-right: 70px;
  padding-top: 50px;
}

.showcase-title-more {
  color: rgb(177, 177, 177);
  font-size: 15px;
  font-weight: 500;
}

.showcase-btn {
  background-color: rgb(193, 219, 219);
  border: none;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.showcase-btn:hover {
  opacity: 0.8;
}

.sc-item-pic {
  height: 70%;
  width: 105%;
}

.showcase-items-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sc-item-name {
  font-weight: normal;
  font-size: 15px;
  margin-bottom: 0;
}

.sc-item-price {
  font-weight: normal;
  font-size: 11px;
  margin-top: 2px;
  color: rgb(177, 177, 177);
}

.about-us {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 70px;
  margin-right: 70px;
  gap: 40px;
  padding-top: 50px;
}

.abt-links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.abt-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.abt-heading-1 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 0;
}

.abt-image-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.abt-image {
  width: 100%;
}

.abt-subheading {
  font-size: 16px;
  font-weight: normal;
  color: rgb(177, 177, 177);
  margin-top: 4px;
}

.abt-h2 {
  text-align: center;
  margin-top: 25px;
  font-size: 17px;
  margin-bottom: 0;
}

.abt-h3 {
  font-weight: normal;
  font-size: 12px;
  text-align: center;
  color: rgb(177, 177, 177);
}
