body {
  font-family: Poppins;
  font-weight: 400;
}

.nav-bar {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 70px;
  padding-right: 70px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  flex-shrink: 0;
}

.c-name {
  font-weight: 500;
  font-size: 20px;
  flex: 0;
  cursor: pointer;
}

.c-name:hover {
  opacity: 0.3;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex: 1;
  margin-left: 60px;
}

.link-items {
  cursor: pointer;
}

.link-items:hover {
  color: grey;
}

.nav-icons {
  display: inline-flex;
  gap: 40px;
}

.icons {
  cursor: pointer;
}

.icons:hover {
  opacity: 0.2;
}

.line {
  height: 30px;
  width: 2px;
  background-color: black;
  margin-top: 7px;
}

.home {
  margin-top: 20px;
  width: auto;
  height: 500px;
  background-color: rgb(193, 219, 219);
  margin-left: 70px;
  margin-right: 70px;
  position: relative;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}

.home-col-1 {
  flex: 1;
  padding-left: 30px;
}

.home-col-2 {
  flex: 1;
  padding-right: 30px;
}

h1 {
  font-weight: 800 bold;
  font-size: 50px;
  text-wrap: wrap;
  margin-bottom: 15px;
}

.info {
  display: flex;
  flex-direction: column;
}

.info-1 {
  font-size: 25px;
}

.home-col-row-2 {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  gap: 45px;
}

.line-2 {
  height: 90px;
  width: 2px;
  background-color: black;
}

.search {
  margin-top: 25px;
  width: 65%;
  border-style: solid;
  border-color: lightgrey;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}

.home-col-1 input::placeholder {
  font-size: 15px;
}

.search-bar {
  position: relative;
  margin-top: 25px;
}

.bx-search {
  position: absolute;
  background-color: rgb(193, 219, 219);
  top: 32px;
  right: 167px;
  height: 30px;
  align-items: center;
  border-radius: 8px;
  padding-bottom: 6px;
  cursor: pointer;
}

.search-icon {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
}

.search-icon:hover {
  opacity: 0.3;
}

.curly-arrow-1 {
  position: absolute;
  width: 12%;
  margin-left: 37%;
  bottom: 115px;
}

.curly-arrow-2 {
  position: absolute;
  width: 9%;
  top: 8px;
  margin-left: 85%;
}

.object-circle {
  height: 350px;
  width: 400px;
  position: relative;
  border-top-right-radius: 170px;
  border-top-left-radius: 170px;
  border-bottom-left-radius: 170px;
  top: 30%;
  background-color: black;
}

.flower-pot {
  position: absolute;
  top: -41%;
  margin-left: 40px;
}
